<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assests/css/burger.css" type="text/css" />
		<title>BURGER TIME!</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/assests/js/script.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>