<li>
	{{name}}
    {{#if devoured}}
	<button class="devour" data-id="{{id}}" data-newsleep="{{sleep}}">
		DEVOUR!
	</button>
    {{/if}}
	<button class ="delete" data-id = "{{id}}">
		DELETE BURGER
	</button>
</li>